In [3]:
a=10;
b=20;
c=30;
print(a);
print(b);
print(c);

10
20
30

In [2]:
x=15; print(x); x=x+3; print(x);

15
18

In [4]:
#multiple assignments
x=y=a=b=abc=pqr=20;
print(x);
print(pqr);
print(abc);

20
20
20

In [5]:
def=30;
#def is a reserved keyword

SyntaxError: invalid syntax (2064762375.py, line 1)

In [7]:
#single value variable
x=10;
y='bioinfo';
abc='biotech';
print(x,y,abc,type(abc));
a=2.3;
print(type(a));

10 bioinfo biotech <class 'str'>
<class 'float'>

# List and List operations

In [10]:
#list variable
a=[10,20,True,'bio',"Tech",'True'];
#list of mixed datatypes
print(a);
print(type(a));

[10, 20, True, 'bio', 'Tech', 'True']
<class 'list'>

In [13]:
#how to fetch elements from a list
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];
print(a[2]);
print(a[3:8]); #start index : end index - 1th index
print(a[:7]); #0th index : end -1th index
print(a[2:]); #start index : end index
print(a[-1]); #last element of the list
print(a[-2]);
print(len(a));

3
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
15
14
15

In [27]:
#nested lists
b=[1,2,3,[11,12,13],4,5,[21,22,23],6,[30,[31,32]]];
print(b[3]);
print(b[3][1]);
print(b[8][1][0]);

[11, 12, 13]
12
31

In [23]:
#how to append a list
x=[10,20,30,40,50,60];
print(x);
x=x+[70,80];
print(x);

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 70, 80]

In [34]:
x=[1,2,3,4,5,6,7];
print(x);
x.append([8,9,10]);
print(x);
x.append(8);
print(x);
#x.append(8,9); #gives type error, as append() takes only one at a time

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 8]

In [36]:
y=['apple','ball','cat'];
print(y);
y=y+['dog','egg'];
print(y);
y.append('fish');
print(y);
y.append(['fish','goat']);
print(y);

['apple', 'ball', 'cat']
['apple', 'ball', 'cat', 'dog', 'egg']
['apple', 'ball', 'cat', 'dog', 'egg', 'fish']
['apple', 'ball', 'cat', 'dog', 'egg', 'fish', ['fish', 'goat']]

In [63]:
#how to delete elements from a list
a=[1,2,3,4,5,6,[10,20],7,8];
print(a);
del a[3];
print(a);
del a[3:6];
print(a);

#difference between delete and remove
a=[1,2,3,4,5,6,[10,20],7,8];
a.remove(6);
print(a);
a[5].remove(a[5][0]);
print(a);
a.remove(a[-1]);
print(a);

[1, 2, 3, 4, 5, 6, [10, 20], 7, 8]
[1, 2, 3, 5, 6, [10, 20], 7, 8]
[1, 2, 3, 7, 8]
[1, 2, 3, 4, 5, [10, 20], 7, 8]
[1, 2, 3, 4, 5, [20], 7, 8]
[1, 2, 3, 4, 5, [20], 7]

In [60]:
x=[1,2,3,1,2,3,1,2,3];
print(x);
x.remove(3);
print(x);
x.remove(x[-1]);
print(x);
x=[1,2,3,1,2,3,1,2,3];
del x[-1];
print(x);

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 1, 2, 3, 1, 2, 3]
[1, 2, 1, 2, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2]

In [69]:
x=[1,2,3,1,[10,20,30],2,3,1,2,3];
for i in x:
    if i==3:
        x.remove(i);
print(x);

[1, 2, 1, [10, 20, 30], 2, 1, 2]

In [74]:
a=[10,20,30,40,50,60,70];
print(a);
a.insert(3,200);
print(a);
a.insert(4,[100,300]);
print(a);

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 200, 40, 50, 60, 70]
[10, 20, 30, 200, [100, 300], 40, 50, 60, 70]

In [6]:
b=[1,2,3,4,5];
print(b);
b.append([7,8,9]);
print(b);
b.extend([7,8,9]); #difference between append and extend
print(b);
b.insert(2,[5,6]);
print(b);

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [7, 8, 9]]
[1, 2, 3, 4, 5, [7, 8, 9], 7, 8, 9]
[1, 2, [5, 6], 3, 4, 5, [7, 8, 9], 7, 8, 9]

In [133]:
#repeat elements using '*' operator
x=[1,2,3,4,5];
print(x);
print(x*2);
print([x[3]]*2);
for i in range(0,len(x)):
    if x[i]>=30:
        print([x[i]]*2);

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[4, 4]

In [7]:
#input> x=[10,20,30,40,50] output> x=[10,20,30,30,40,50]
x=[10,20,30,40,50];
index = 3;
element = 30;

x = x[:index] + [element]*2 + x[index:];
print(x);

x=x.insert(3,30);
print(x);

[10, 20, 30, 30, 30, 40, 50]
None

In [9]:
x = [10,20,30,40,50]
x.insert(3,30)
x.insert(3*2,30)
print(x)

[10, 20, 30, 30, 40, 50, 30]

In [18]:
#Bhakti
#x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

n = int(input('Enter the value for n:')); # Replace 'n' with the desired index
y = x[:n] * 2;  # Repeat elements up to index 'n' twice
y.sort();
print(y);

Enter the value for n:5
[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [103]:
#min and min
a=[1,2,100,200,7,8,0,5000,999,420,143,9999];
print(a);
print(len(a));
print(max(a));
print(min(a));
print(max(a[0:6]));
print(max(a[5:11]));
print(max(a[3:-1]));
print(min(a[-12:-2]));

[1, 2, 100, 200, 7, 8, 0, 5000, 999, 420, 143, 9999]
12
9999
0
200
5000
5000
0

In [104]:
#sorting in ascending and descending order
x=[2,69,420,500,600,999,400,7,9];
print(x);
print(sorted(x));
print(sorted(x,reverse=True));

[2, 69, 420, 500, 600, 999, 400, 7, 9]
[2, 7, 9, 69, 400, 420, 500, 600, 999]
[999, 600, 500, 420, 400, 69, 9, 7, 2]

In [107]:
b=[10,20,30,40,20,50,20,60,100,20,70,80];
print(b);
print(b.count(20));

[10, 20, 30, 40, 20, 50, 20, 60, 100, 20, 70, 80]
4

In [121]:
g="ATGCATCGAGCTAGCTGAACGGTCGCTAACGCTGA";
print("The number of A is :", g.count('A'));
print("The number of T is :", g.count('T'));
print("The number of G is :", g.count('G'));
print("The number of C is :", g.count('C'));
Tot=len(g);
print("The total length of g is :", Tot, "bp");
gc=g.count('G')+g.count('C');
at=g.count('A')+g.count('T');
print("The total gc content is",gc);
print("The total at content is",at);
gp=(gc/Tot)*100;
ap=(at/Tot)*100;
print("GC% is",round(gp,2));
print("AT% is",round(ap,2));
#molecular weight
mw=g.count('G')*329.21+g.count('A')*313.21+g.count('T')*304.2+g.count('C')*289.18+17.01
print('Molecular weight of the gene is', round(mw,2), 'daltons');

The number of A is : 9
The number of T is : 7
The number of G is : 10
The number of C is : 9
The total length of g is : 35 bp
The total gc content is 19
The total at content is 16
GC% is 54.29
AT% is 45.71
Molecular weight of the gene is 10860.02 daltons

In [128]:
#input function
g=input('Enter the DNA string:')
print("The number of A is :", g.count('A'));
print("The number of T is :", g.count('T'));
print("The number of G is :", g.count('G'));
print("The number of C is :", g.count('C'));
Tot=len(g);
print("The total length of g is :", Tot, "bp");
gc=g.count('G')+g.count('C');
at=g.count('A')+g.count('T');
print("The total gc content is",gc);
print("The total at content is",at);
gp=(gc/Tot)*100;
ap=(at/Tot)*100;
print("GC% is",round(gp,2));
print("AT% is",round(ap,2));
#molecular weight
mw=g.count('G')*329.21+g.count('A')*313.21+g.count('T')*304.2+g.count('C')*289.18+17.01
print('Molecular weight of the gene is', round(mw,2),'daltons');

Enter the DNA string:ATCGACGTATACGATCGTTTACGCGCT
The number of A is : 6
The number of T is : 8
The number of G is : 6
The number of C is : 7
The total length of g is : 27 bp
The total gc content is 13
The total at content is 14
GC% is 48.15
AT% is 51.85
Molecular weight of the gene is 8329.39 daltons

In [136]:
pip install biopython

Requirement already satisfied: biopython in d:\anaconda\lib\site-packages (1.81)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from biopython) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [135]:
from Bio import Seq

In [137]:
x=10;
print(x);

10

In [138]:
#reverse a list
a=[20,30,200,151,160];
print(a[::-1]);

[160, 151, 200, 30, 20]

In [145]:
#reverse character list
x=input('Enter DNA sequence');
print(x[::-1]);

Enter DNA sequenceATGCGCTAGC
CGATCGCGTA

In [144]:
#copy a list to another
a=[10,20,30,40,50];
print(a);
b=a.copy();
print(b);

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [141]:
#empty a list
a=[1,2,3,4,5,6];
print(a);
a.clear();
print(a);

[1, 2, 3, 4, 5, 6]
[]

In [146]:
x=[7,8,1,3,5,4];
print(x.index(1));

2

In [147]:
#sum function
a=[2,3,4,6,5];
print(sum(a));

20

In [149]:
#difference between append() and join()
#join
a=['bio','infor','matics'];
b='';
print(b.join(a));

bioinformatics

In [151]:
x='bioinformatics';
y='BIOTECHNOLOGY';
print(x.upper());
print(y.lower());

BIOINFORMATICS
biotechnology

In [157]:
#paragraph
x='''Hey Bhumika,
ur so beautiful, so elegant,
just looking like a wow!!'''
print(x[0]);
print(x[0:50]);

H
Hey Bhumika,
ur so beautiful, so elegant,
just loo

In [159]:
#tuple
#how to create a tuple
#how to fetch element from tuple
a=(1,2,3,4,5,6);
print(a);

(1, 2, 3, 4, 5, 6)

In [160]:
#we cannot replace, delete, remove any element from tuple
a=(1,2,3,4,5,6,7);

In [169]:
#we can add elements to tuple
a=(1,2,3);
a=a+(4,5,6);
print(a);

(1, 2, 3, 4, 5, 6)

In [170]:
#dictionary
a={'a':10,'b':100,'c':[10,20],'d':'Aj','e':(10,20),'f':{10,20}};
print(a);

{'a': 10, 'b': 100, 'c': [10, 20], 'd': 'Aj', 'e': (10, 20), 'f': {10, 20}}

In [176]:
a={'a':10,'b':100,'c':[10,20],'d':'Aj','e':(10,20),'f':{10,20}};
print(a['a']);
print(a['c'][0]);
print(a['e'][1]);

10
10
20

In [178]:
a={'a':10,'b':100,'c':[10,20],'d':'Aj','e':(10,20),'f':{10,20}};
print(a.keys());
print(a.values());

dict_keys(['a', 'b', 'c', 'd', 'e', 'f'])
dict_values([10, 100, [10, 20], 'Aj', (10, 20), {10, 20}])

In [6]:
a={'Name':input('Enter the name :'),'Age':input('Enter ur age :'),'USN':input('Enter ur USN :'), \
   'Gender':input('Say YES/NO :')};
print(ur gay);

Enter the name :dsf
Enter ur age :32
Enter ur USN :sfddsf
Say YES/NO :yes

TypeError: unsupported operand type(s) for +: 'dict' and 'str'

In [186]:
#how to add new key or add value to exisiting key
x={'a':10,'name':'Ajay'};
x['wifi']=(10,20);
print(x);

{'a': 10, 'name': 'Ajay', 'wifi': (10, 20)}

In [188]:
#delete a key
x={'a':10,'name':'Ajay'};
del x['a'];
print(x);

{'name': 'Ajay'}

In [190]:
#empty dict
x={'a':10,'name':'Ajay'};
x.clear();
print(x);

{}

In [194]:
#merge dict
x={'a':10,'name':'Ajay'};
y={'b':20};
print({**x,**y});

{'a': 10, 'name': 'Ajay', 'b': 20}

In [7]:
#length
x={'a':10,'name':'Ajay'};
print(len(x));

#checking the membership of a key
print('c' in x.keys());
print('a' in x.keys());
print('a' not in x.keys());

2
False
True
False

In [ ]:
import random
a=